.input-container {
  height: 10vh;
  width: 65vw;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--borders);
  border-radius: 3px;
}

.input-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: -10px;
}

.submit-btn,
.submit-btn-inactive {
  padding: 8px 10px;
  border: 1px solid var(--borders);
  border-radius: 3px;

  text-transform: uppercase;
  font-weight: 600;
  color: var(--accent-text);
}

.submit-btn {
  background: var(--accent);
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn-inactive {
  background: var(--accent-muted);
}
