.proof-container {
  margin-top: 16px;
}

.proof-content-container {
  width: 65vw;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--borders);
  border-radius: 3px;
}

.proof-author {
  font-size: 12px;
  font-weight: 600;
}

.proof-text {
  margin-top: 3px;
  font-size: 14px;
}

.proof-footer {
  margin-top: 8px;
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proof-footer-left {
  display: flex;
  align-items: center;
}

.proof-btn {
  margin-right: 10px;
  border: 1px solid var(--borders);
  border-radius: 3px;
}

.proof-btn:hover {
  cursor: pointer;
}

.delete-btn {
  margin-right: -20px;
}

.likes-count {
  font-size: 12px;
}
